<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2>本物のサーファーは過去を悔やまず、未来を夢見る力がある
				僕の周りにいるサーファーは、『いま』を全力で楽しんでいる人たちばかりです。『昔の方が楽しかった』という人とは、一度も出会ったことがありません。<br><br>

				本物のサーファーには、強い向上心がある
				全てのサーファーに共通していること、それは『あくなき向上心』です。サーファーのレベルに関係なく、誰もが強く『もっとうまくなりたい』と、心の底から思っています。
				『このぐらいでいいや』
				と語るサーファーには、一度足りとも会ったことがありません。
				サーファーには、強い向上心があります。その向上心は力強く、揺るぎのないものです。<br><br>

				サーファーという人間は、『波にのること』に人生をかけて挑み続けます。自分自身が今まで出会ったサーファーは、格好いい人たちばかりでした。
				サーフィンのことを話す目はキラキラ輝いているし、誰もが未来に向かって一生懸命生きています
				自分が本当に夢中になれることがあるのは、素晴らしいことです。常に自分自身の成長を感じることができるのも、サーフィンの素晴らしい部分の１つなのかもしれません。
				何才までサーフィンができるかはわかりませんが、ただひたすらに波に乗り続けて生きたいと、僕自身は考えています。<br><br>

				そんな仲間を見つけ、出会い、みんながHappyになれるようにこのサイトを作りました。
				Enjoy suerfin!! Take it easy!!
			</h2>
		</div>
	</div>
</div>