<!-- <div class="container">
    <div class="row">
        <div class="col-sm-4">
        	<h3>新規書き込み</h3>
				<%= form_for ([@topic,@chat]) do |f| %>
				  <p>本文</p>
				  <%= f.text_area :comment %>
				  <%#= f.hidden_field :topic_id %>
				  <%= f.submit "発言"%>
				<% end %>
        </div>
        <div class="col-lg-8">
        </div>
    </div>
</div>
 -->