/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// header{
// 	width: 100%;
// 	background-color: black;
// }
/*.navbar{
	margin: 0 auto;
}*/
/*.main{
	height: 100%;
	background-size: cover;
	background: rgba(255,255,255,0.5) no-repeat center center fixed;
}*/
body {
	min-height: 500px;
}
main{
	min-height: 1000px;
	background: url("../images/tubu.jpg") no-repeat center center fixed;
	background-size: cover;
}
.wrap{
	min-height: 1000px;
	background-color: rgba(255,255,255,0.5);
}
/*html{
	background: url("../images/tubu.jpg") no-repeat center center fixed;
	background-size: cover;
}*/
footer{
	width: 100%;
	background-color: black;
}
.site-header{
    background-color: black;
    position: sticky;
    top: 0;
    z-index:9999;
    // position: fixed;
    width: 100%;
}
 @media screen and (max-width: 499px) { 
    /*　画面サイズ 499pxまで適用　*/
    .content {color: #red;}
  }
  @media screen and (min-width: 500px) and (max-width: 999px) {
    /*　画面サイズ 500pxから999pxまで適用　*/
    .content {color: #green;}
  }
  @media screen and (min-width:1000px) {
    /*　画面サイズ 1000px以上から適用　*/
    .content {color: #blue;}
  }
