// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*input[f.text_field="title"] {
        width: 300px;
        height: 40px;
    }

input[f.text="comment"] {
        width: 300px;
        height: 40px;
    }*/
// .word{
// word-wrap: break-word;
// }
// .table{
// 	word-wrap : break-word;
//   overflow-wrap : break-word;
// }
// th,td{
//   color:white;
//   background-color: #2196f3;

